/* *************************************************TABLET RESPONSIVE ***************************************** */
@media only screen and (max-width: 800px) {
  /* SECOND SECTION */
  .second-section-div {
    flex-wrap: wrap;
  }
  .img-div {
    padding-top: 9%;
    padding-bottom: 9%;
  }
  .text-content {
    min-width: 75%;
  }
  .article-div {
    grid-template-columns:46% 46%;
    height: 200px;
    grid-gap: 8%;
  }
  .news {
    margin: 40px 0;
  }
  .hidden {
    display: none;
  }
  .little-article,
  .little-article img {
    min-width: 35vw;
  }
  /* THIRD SECTION */
  .article-container {
    flex-direction: column;
  }
  .article-1 {
    min-width: 100%;
  }
  .article-2 {
    min-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 46%));
    grid-gap: 8%;
    margin-top: 40px;
  }
  .photo5 {
    display: none;
  }
  /* FOOTER*/
  .footer-div {
    flex-direction: column;
  }
  .ul-logo {
    margin-bottom: 50px;
  }
  .ul-logo,
  .icons-email {
    min-width: 100%;
  }
  .icons {
    max-width: 30%;
    margin-top: 50px;
  }
}
/* ************************************************MOBILE RESPONSIVE ************************************* */
@media (max-width: 500px) {
  /* NAVIGATION*/
  .menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #f6f8f9;
    float: right;
    cursor: pointer;
    text-align: center;
  }
  .menu-toggle::before {
    content: "\f0c9";
    font-family: fontAwesome;
    font-size: 25px;
  }
  .menu-toggle.active::before {
    content: "\f00d";
    font-family: fontAwesome;
    font-size: 25px;
    color: #202124;
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
  }
  .nav-div,
  .nav-ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-ul {
    margin: 0 7%;
  }
  .nav-div {
    margin: 10% 0 15% 0;
  }
  .nav-div li {
    margin-top: 40px;
  }
  /* SECOND SECTION */
  .text-content {
    min-width: 90%;
  }
  .second-section-text {
    max-width: 100%;
  }
  .article-div {
    grid-template-columns: repeat(auto-fit, minmax(240px, 50%));
    height: 500px;
  }
  .top-article-section {
    flex-direction: column;
  }
  .little-article,
  .little-article img {
    min-width: 100%;
  }
  .little-article {
    margin-bottom: 40px;
  }
  .bottom-logo-div,
  .uls ul:first-child,
  .email {
    display: none;
  }
  .icons {
    min-width: 80%;
  }
  .article-2 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
  }
}
