@media only screen and (max-width: 800px) {
  /* SECOND SECTION RESPONSIVE */
  /* Poto div responsive */
  .second-section-div {
    flex-wrap: wrap;
  }
  .img-div {
    padding-top: 9%;
    padding-bottom: 9%;
  }
  .text-content {
    width: 100%;
  }
  /* text div responsive */
  .second-section-text {
    padding: 9%;
  }
  .article-div {
    flex-direction: row;
    height: auto;
  }
  .news-1,
  .news {
    width: 50%;
  }
}
