
@media only screen and (max-width: 800px) {
  .second-section-div {
    flex-wrap: wrap;
  }
  .img-div {
    padding-top: 9%;
    padding-bottom: 9%;
  }
  .text-content {
    width: 100%;
  }
  .article-div {
    grid-template-columns:50% 50%;
    height: 200px;
    grid-gap: 10%;
  }
  .news {
    margin: 40px 0;
  }
}
