/****************************************************** FONTS ************************************************/
@font-face {
  font-family: 'semi-bold';
  src: url('../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'bold-sans';
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'regular-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

/****************************************************** BASE CLASSES ************************************************/
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.heading {
  font-size: 24px;
  font-family: bold-sans;
}
.line-height-26 {
  line-height: 26px;
}
/* font-family classes */
.bold {
  font-family: bold-sans;
}
.regular {
  font-family: regular-sans;
}
.semi-bold {
  font-family: semi-bold;
}
/* font-size classes */
.font-11 {
  font-size: 11px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-32 {
  font-size: 32px;
}
/* Font Color classes */
.gray {
  color: #A6ADB4;
}
.pinkish {
  color: #fa6980;
}
.black {
  color: #202124;
}
.white {
  color: #FFFFFF;
}
button {
  width:  134px;
  height: 40px;
  background-color: #fa6980;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  margin-top: 30px;
}
/****************************************************** NAVIGATION ************************************************/
header {
  background-color: #f6f8f9;
}
.clear {
  clear: both;
}
#nav-section {
  width: 100%;
  background-color: #F6F8F9;
  font-family: bold-sans;
  padding: 20px;
}
.nav-ul {
    padding: 10px 5px 5px 25px;
}
.nav-ul,
.nav-div {
  justify-content: space-between;
}
.margin {
  margin-top: 20px;
}
.nav-div {
  max-width: 100%;
}
.nav-div li{
  margin-right: 30px;
}
.nav-div .inactive:hover{
  color: #202124;
}

/****************************************************** SECOND SECTION ************************************************/
.img-div {
  background-image: url('../images/tree.svg');
  background-repeat: no-repeat;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.text-content {
  max-width: 70%;
  color: #FFFFFF;
}
.text-content p:first-of-type {
  margin-top:40px;
}
.txt {
  font-size: 16px;
  margin-top: 10px;
}
.second-section-text {
  flex-direction: column;
  justify-content: center;
  padding: 10.2%;
}
.second-section-text h3 {
  margin-bottom: 20px;
}
.second-section-text p:first-of-type {
  margin-bottom: 10px;
}
.second-section-text h4 {
  line-height: 25px;
}
.news-1,
.news {
  margin-top: 40px;
}
.wht-underline h1 {
  width: 100%;
}
.wht-underline {
  border-bottom: 2px solid #ebeded;
  height: auto;
  padding-bottom: 30px;
  justify-content: space-between;
}
.fa-chevron-left {
  margin-right: 35px;
}
/********************************************THIRD SECTION ************************************************/
/* top article */
.article-section {
  padding: 40px 10.2% 100px;
  background-color: #ebeded;
}
.top-article-section {
  width: 100%;
  justify-content: space-between;
  margin: 40px 0;

}
.little-article {
  flex-direction: column;
  max-width: 24vw;
}
.article-text-div {
  background-color: white;
  padding: 40px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  line-height: 23px;
}
.little-article img {
  width: 24vw;
}
/* bottom article */
.article-container {
  max-height: 2000px;
  max-width: 1160px;
  justify-content: space-between;
  margin-top: 40px;
}
.article-1 {
  width: 65%;
}
.article-2 {
  width: 30%;
}
.article-2 p:first-of-type {
  margin: 20px 0;
}
.article-1 {
  flex-direction: column;
  justify-content: space-between;
}
.article-container img {
  max-width: 100%;
}
.photo1,
.photo2 {
  position: relative;
}
.photo1 {
  margin-bottom: 40px;
}
.absolute1,
.absolute2 {
  position: absolute;
  top: 7%;
  left: 5%;
  width: 90%;
  height: 83%;
  justify-content: space-between;
  flex-direction: column;
}
.underlined {
  text-decoration: underline;
}


/**********************************************  FOOTER  **********************************************/
footer {
  padding: 60px 10.2%;
  background-color: #a6adb4;
}
.footer-div {
  justify-content: space-between;
}
.ul-logo a {
  font-size: 13px;
  color: #CBD0D3;
  line-height: 20px;
}
.ul-logo {
  width: 35%;
  justify-content: space-between;
}
.bottom-logo {
  margin-top: 5px;
}
.uls {
  width: 288px;
  justify-content: space-between;
}
.uls li {
  margin-bottom: 10px;
}
/* icons and input style */
.icons-email,
.icons {
  width: 45%;
  justify-content: space-between;
}
.email1 {
  width: 240px;
  height: 40px;
  background-color: #a6adb4;
  border: 3px solid rgb(203, 208, 211, 0.5) ;
  border-radius: 6px;
  padding:5px 20px;
  justify-content: space-between;
  align-items: center;
}
input[type=email] {
  border-style: hidden;
  background-color: #a6adb4;
  color: white;
}
input[type=email]:focus,
input[type=text]:focus,
input[type=date]:focus {
  outline: none;
}
::placeholder {
  color: rgb(203, 208, 211, 0.5);
}
.email p {
  color: rgb(203, 208, 211);
  margin-top: 15px;
}

/************************************************************* STORY HTML STYLE ***************************************************/
.home-icons {
  width: 100%;
}
.story-body {
  background-color: #f6f8f9;
}
.body-section {
  background-color: #f6f8f9;
}
.story-first-section {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: white;
}
.story-second-selection {
  flex-direction: column;
  justify-content: center;

}
.story-first-section img {
  max-width: 100%;
}
.story-first-section img:last-child {
  margin-top: 10%;
}
.story-first-section-div1 {
  position: relative;
}
.first-section-text {
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
[type="date"] {
  background:#a6adb4 url('../images/chevron-down.svg')  97% 50% no-repeat ;
  margin: 10px 0 40px 0;
}
.keyword {
  margin-top: 10px;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-datetime-edit-month-field { color: #a6adb4; }
[type="date"]::-webkit-datetime-edit-day-field { color: #a6adb4 }
[type="date"]::-webkit-datetime-edit-year-field { color: #a6adb4; }
[type="date"]::-webkit-datetime-edit-text { color: #a6adb4; padding: 0 0.3em; }
[type=date],
[type="text"] {
  border: 2px solid #ebeded;
  border-radius: 6px;
  background-color: #fff;
  padding: 3px 10px;
  width: 70%;
  height: 40px;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.underline-small {
  margin-bottom: 10%;
}
.underline-small::after {
  content:'';
  height:2px;
  width:10%;
  background:#ff4d4d;
  position:absolute;
  left:calc(50% - 6%);
  margin-top: 20px;
}
/* STORY SECOND SECTION */
.story-second-section {
  border-top: 2px solid #EBEDED;
  border-bottom: 2px solid #EBEDED;
}
.story-second-text {
  width: 65%;
}
.text-heading {
  width: 30%;
  margin-right: 5%;
}
/* STORY HIRD SECTION */
.story-third-section img {
  max-width: 100%;
}
.story-third-text {
  width: 70%;
  padding-bottom: 4%;
  margin-bottom: 7%;
  border-bottom: 2px solid #EBEDED;
}
.story-third-text p {
  margin-top: 40px;
}
.home-icons {
  justify-content: space-between;
  padding: 40px 0;
}
.bars-div {
  border: 2px solid #EBEDED;
  padding: 5px;
  border-radius: 6px;
}
.home-icons-icons span{
  margin-left:20px;
}
.home-icons-icons i {
  margin-right: 30px;
}
