/****************************************************** FONTS ************************************************/
@font-face {
  font-family: 'semi-bold';
  src: url('../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'bold-sans';
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'regular-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}


/****************************************************** BASE CLASSES ************************************************/
.d-flex {
  display: flex;
}
.heading {
  font-size: 24px;
  font-family: bold-sans;
}
/* font-family classes */
.bold {
  font-family: bold-sans;
}
.regular {
  font-family: regular-sans;
}
.semi-bold {
  font-family: semi-bold;
}
/* font-size classes */
.font-13 {
  font-size: 13px;
}
.font-11 {
  font-size: 11px;
}
.font-16 {
  font-size: 16px;
}
/* Font Color classes */
.gray {
  color: #A6ADB4;
}
.pinkish {
  color: #fa6980;
}
.black {
  color: #202124;
}
.white {
  color: #FFFFFF;
}
button {
  width:  134px;
  height: 40px;
  background-color: #fa6980;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  margin-top: 30px;
}
/****************************************************** NAVIGATION ************************************************/
#nav-section {
  width: 100%;
  background-color: #F6F8F9;
  font-family: bold-sans;
  padding: 20px;
}
.nav-ul {
  justify-content: space-between;
  align-items: center;
}
.nav-div {
  width: 30%;
  align-items: center;
  justify-content: flex-end;
}
.nav-div li {
  margin-right: 30px;
}
.nav-div .inactive:hover{
  color: #202124;
}


/****************************************************** SECOND SECTION ************************************************/
.img-div {
  background-image: url('../images/tree.svg');
  background-repeat: no-repeat;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.text-content {
  max-width: 70%;
  color: #FFFFFF;
  line-height: 26px;
}
.text-content p:first-of-type {
  margin-top:40px;
}
.txt {
  font-size: 16px;
  margin-top: 10px;
}
.second-section-text {
  flex-direction: column;
  justify-content: center;
  padding: 10.2%;
}
.second-section-text h3 {
  margin-bottom: 20px;
}
.second-section-text p:first-of-type {
  line-height: 26px;
  margin-bottom: 10px;
}
.second-section-text h4 {
  line-height: 25px;
}
.news-1,
.news {
  margin-top: 40px;
}
.wht-underline h1 {
  width: 100%;
}
.wht-underline {
  border-bottom: 2px solid #ebeded;
  height: auto;
  padding-bottom: 30px;
  justify-content: space-between;
}
.fa-chevron-left {
  margin-right: 35px;
}
.article-div {
  display: grid;
}
/********************************************THIRD SECTION ************************************************/
/* top article */
.article-section {
  padding: 40px 10.2% 100px;
  background-color: #ebeded;
}
.top-article-section {
  width: 100%;
  justify-content: space-between;
  margin: 40px 0;

}
.little-article {
  flex-direction: column;
  max-width: 24vw;
}
.article-text-div {
  background-color: white;
  padding: 40px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  line-height: 23px;
}
.little-article img {
  width: 24vw;
}
/* bottom article */
.article-container {
  max-height: 2000px;
  max-width: 1160px;
  justify-content: space-between;
  margin-top: 40px;
}
.article-1 {
  width: 65%;
}
.article-2 {
  width: 30%;
  display: grid;
}
.article-2 p:first-of-type {
  margin: 20px 0;
}
.article-1 {
  flex-direction: column;
  justify-content: space-between;
}
.article-container img {
  max-width: 100%;
}
.photo1,
.photo2 {
  position: relative;
}
.photo1 {
  margin-bottom: 40px;
}
.absolute1,
.absolute2 {
  position: absolute;
  top: 7%;
  left: 5%;
  width: 90%;
  height: 83%;
  justify-content: space-between;
  flex-direction: column;
}
span {
  text-decoration: underline;
}


/**********************************************  FOOTER  **********************************************/
footer {
  padding: 60px 10.2%;
  background-color: #a6adb4;
}
.footer-div {
  justify-content: space-between;
}
.ul-logo a {
  font-size: 13px;
  color: #CBD0D3;
  line-height: 20px;
}
.ul-logo {
  width: 35%;
  justify-content: space-between;
}
.bottom-logo {
  margin-top: 5px;
}
.uls {
  width: 288px;
  justify-content: space-between;
}
.uls li {
  margin-bottom: 10px;
}
/* icons and input style */
.icons-email,
.icons {
  width: 45%;
  justify-content: space-between;
}
.email1 {
  width: 240px;
  height: 40px;
  background-color: #a6adb4;
  border: 3px solid rgb(203, 208, 211, 0.5) ;
  border-radius: 6px;
  padding:5px 20px;
  justify-content: space-between;
  align-items: center;
}
input[type=email] {
  border-style: hidden;
  background-color: #a6adb4;
  color: white;
}
input[type=email]:focus {
  outline: none;
}
::placeholder {
  color: rgb(203, 208, 211, 0.5);
}
.email p {
  color: rgb(203, 208, 211);
  margin-top: 15px;
}

/************************************************************* STORY HTML STYLE ***************************************************/
.story-body {
  background-color: #f6f8f9;
}
